{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

    {% block style %} {% endblock style %}
</head>
<body>
    {%include 'header.html'%}
<main>
    <div class="msg">
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% endfor %}
    </div>
    {% block main %} {%endblock main %}
</main>
<hr>
{% include 'footer.html'%}
<hr>
</body>
</html>